@model List<Categoria>

@{
    ViewData["Title"]="Lista de Categorias";
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    @*<table class="table table-dark table-hover table-responsive">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <!--<th scope="col">Activo</th>-->
                <th scope="col">Seleccion</th>
            </tr>
        </thead>
        <tbody>*@
            @foreach (var categoria in Model)
            {
                <partial name="Categoria" model="categoria"/>
            }
        @*</tbody>
    </table>*@
</div>
